streamlit==1.38.0
torch @ https://download.pytorch.org/whl/cpu/torch-2.0.0%2Bcpu-cp38-cp38-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.15.0%2Bcpu-cp38-cp38-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cpu/torchaudio-2.0.0%2Bcpu-cp38-cp38-linux_x86_64.whl
Pillow>=7.1
matplotlib
opencv-python
numpy
gdown
Pillow
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@main


