streamlit==1.38.0
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
pycocotools>=2.0.2
Pillow>=7.1
matplotlib
opencv-python
numpy
gdown
Pillow
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@main


