torch==2.4.1
torchvision==0.19.1
opencv-python
numpy
gdown
Pillow
#-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
#pyyaml==5.1
#torch==1.10.0
#torchvision==0.11.0
#streamlit

opencv-contrib-python-headless

detectron2 @ git+https://github.com/facebookresearch/detectron2.git@main

